.card {
  background-color: rgb(179, 44, 176);
  padding: 0 50px 30px 0;
  &__change {
    display: flex;
    justify-content: flex-end;
  }
  &__change_hidden {
    display: none;
  }
}

.change-btn {
  border-radius: 5px;
  border: 0;
  color: #ffffff;
  transition: background-color 0.3s ease-in-out;
  background-color: darkturquoise;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 7px 12px;
  &:hover {
    background-color: rgb(0, 138, 140);
    border: 1px solid white;
    padding: 6px 11px;
  }
}
.change-img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.user {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  &_hidden {
    display: none;
  }
  &__avatar-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__avatar {
    margin-left: 50px;
    margin-right: 40px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }
  &__info {
    width: 40%;
    margin-right: 30px;
  }
  &__info:last-of-type {
    margin-right: 0;
  }
  &-description {
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    margin: 0 0 10px;
  }
  &-field {
    font-size: 18px;
    line-height: 24px;
    border-bottom: 2px solid blue;
    padding-bottom: 8px;
    color: #ffffff;
    padding-left: 25px;
    margin-bottom: 20px;
  }
  &__avatar-btn {
    border: 0;
    transition: 0.3s ease-in-out;
    background-color: darkturquoise;
    margin-top: 20px;
    width: 150px;
    &:hover {
      color: #ffffff;
      background-color: rgb(0, 138, 140);
    }
  }
}

.user-info-little {
  width: 100%;
  display: flex;
  &__block {
    width: 50%;
    margin-right: 20px;
  }
  &__block:last-of-type {
    margin-right: 0;
  }
  &__field {
    font-size: 18px;
    line-height: 24px;
    border-bottom: 2px solid blue;
    padding-bottom: 8px;
    color: #ffffff;
    padding-left: 25px;
    margin-bottom: 20px;
  }
  &__description {
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    margin: 0 0 10px;
  }
}

.editing {
  display: flex;
  padding-top: 50px;
  &_hidden {
    display: none;
  }
  &__info {
    width: 40%;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
  }
  &__info:last-of-type {
    margin-right: 0;
  }
  &-description {
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    margin: 0 0 5px;
    &__block {
      position: relative;
    }
    &__eye {
      width: 15px;
      height: 15px;
      position: absolute;
      top: 30px;
      right: 20px;
      transition: 0.3s ease-in-out;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  &-field {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    padding-left: 25px;
    margin-bottom: 10px;
    width: calc(100% - 40px);
    &_error {
      width: calc(100% - 40px);
      border: 1px solid red;
      font-size: 18px;
      line-height: 24px;
      color: #000000;
      padding-left: 25px;
    }
  }
}

.editing-info-little {
  width: 100%;
  display: flex;
  &__block {
    width: 50%;
    margin-right: 20px;
  }
  &__block:last-of-type {
    margin-right: 0;
  }
  &__field {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    padding-left: 25px;
    margin-bottom: 20px;
  }
  &__description {
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    margin: 0 0 10px;
  }
}

.checks {
  display: flex;
  width: 100%;
}

.save-btn {
  border: 0;
  background-color: rgb(62, 241, 62);
  width: 170px;
  margin-right: 20px;
  &:hover {
    color: #ffffff;
    background-color: rgb(43, 165, 43);
  }
}

.cancel-btn {
  background-color: darkturquoise;
  transition: 0.3s ease-in-out;
  width: 100px;
  &:hover {
    color: #ffffff;
    background-color: rgb(0, 138, 140);
  }
}
