.modal {
    width: 100vw;
    height: 200vh;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.modal-form {
    position: absolute;
    top: 20%;
    left: calc(50% - 150px);
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    background-color: darkturquoise;
    z-index: 4;
    border-radius: 8px;
    &__input {
        padding: 10px 15px;
        margin-bottom: 30px;
        border-radius: 5px;
        border: 0;
    }
    &__button {
        background-color: rgb(62, 241, 62);
        border: 0;
        border-radius: 5px;
        transition: .3s ease-in-out;
        &:hover {
            color: #ffffff;
            background-color: rgb(43, 165, 43);
        }
    }
}