.side {
  padding-top: 150px;
  padding-left: 70px;
  width: 20%;
  position: relative;
}

.exit {
  position: absolute;
  bottom: 50px;
  left: 70px;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  width: calc(100% - 70px);
  text-align: center;
  align-items: center;
  transition: .3s ease-in-out;
  &:hover {
    opacity: 0.7;
  }
  &__img {
    width: 25px;
    height: 25px;
    margin-right: 15px;
  }
  &__text {
    color: #ffffff;
  }
}

.chapter {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  list-style-type: none;
  background-color: rgb(179, 44, 176);
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 0 0 0 10px;
  &_active {
    background-color: rgb(245, 75, 242);
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    list-style-type: none;
    padding: 0 0 0 15px;
    margin-left: auto;
    margin: 0;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0 0 0 10px;
  }
  &:last-of-type {
    margin-top: 0;
    margin-bottom: 0;
  }
  &__li {
    display: flex;
    align-items: center;
  }
  &__img {
    width: 25px;
    height: 25px;
    margin-right: 15px;
  }
  &__text {
    color: #ffffff;
  }
  &:hover {
    opacity: 0.7;
  }
}
